{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lai_connector/comp_reports_allbrains.html
    ...

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    ...

    Example context (json):

        ...
    }
}}

<table id="reports_allbrains" class="brainslist">
    <thead>
        <tr class="headerrow grey_bg">
            <th>{{#str}}report_allbrains_brainid, local_lai_connector{{/str}}</th>
            <th>{{#str}}report_allbrains_brainname, local_lai_connector{{/str}}</th>
            <th>{{#str}}report_allbrains_braindescription, local_lai_connector{{/str}}</th>
            <th>{{#str}}report_allbrains_braincreationdate, local_lai_connector{{/str}}</th>
        </tr>
    </thead>
    <tbody>
    {{#brains}}
        <tr class="brainrow">
            <td colspan="1">
                {{brainid}}
            </td>
            <td colspan="1">
                {{brainname}}
            </td>
            <td colspan="1">
                {{braindescription}}
            </td>
            <td colspan="1">
                {{braindate}}
            </td>
        </tr>
    {{/brains}}
    {{^brains}}
        <tr>
            <td colspan="6"><br>{{#str}}report_allbrains_no_results, local_lai_connector{{/str}}<br></td>
        </tr>
    {{/brains}}
    </tbody>
</table>
<br>
<table id="reports_brainquotas" class="brainslist">
    <thead>
    <tr class="headerrow grey_bg">
        <th>{{#str}}report_allbrains_brainservice, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_allbrains_braintype, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_allbrains_braincredits, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_allbrains_braincount, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_allbrains_brainstarttime, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_allbrains_brainendtime, local_lai_connector{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#brainquotas}}
        <tr class="brainrow">
            <td>
                <strong>{{{brain_service}}}</strong>
            </td>
            <td>
                {{{brain_type}}}
            </td>
            <td>
                {{{brain_credits}}}
            </td>
            <td>
                {{{brain_count}}}
            </td>
            <td>
                {{{brain_starttime}}}
            </td>
            <td>
                {{{brain_endtime}}}
            </td>
        </tr>
    {{/brainquotas}}
    {{^brainquotas}}
        <tr>
            <td colspan="6"><br>{{#str}}report_brainquotas_no_results, local_lai_connector{{/str}}<br></td>
        </tr>
    {{/brainquotas}}
    </tbody>
</table>

<div>
<sub style="text-align: right;">{{#str}}report_allbrains_currenttoken, local_lai_connector{{/str}} {{#token}}{{{.}}}{{/token}}</sub>
</div>