{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lai_connector/comp_reports_courses_all

    ...

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    ...

    Example context (json):

        ...
    }
}}

<table id="turnitin_reports" class="resultlist">
    <thead>
        <tr class="headerrow grey_bg">
        <th>{{#str}}report_header_courseid, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_header_coursename, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_header_startdate, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_header_turnitin_elements, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_header_participants, local_lai_connector{{/str}}</th>
        <th>{{#str}}report_header_participants_handed_in, local_lai_connector{{/str}}</th>
        </tr>
    </thead>
    <tbody>
    {{#cleantiicourses}}
        <tr class="{{{parentclass}}} courserow" id="row{{{courseid}}}">
            <td class="vlr">
                {{#shownolinks}}{{{courseid}}}{{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courseidlink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{courseid}}}</a>{{/shownolinks}}</td>
            <td class="vlr">
                {{#shownolinks}}{{{coursename}}}<br>({{{courseshortname}}}){{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courselink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{coursename}}}<br>({{{courseshortname}}})</a>{{/shownolinks}}</td>
            <td class="vlr">
                {{#shownolinks}}{{{startdate}}}{{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courselink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{startdate}}}</a>{{/shownolinks}}</td>
            <td class="vlr">
                {{#shownolinks}}{{{turnitinelements}}}{{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courselink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{turnitinelements}}}</a>{{/shownolinks}}</td>
            <td class="vlr">
                {{#shownolinks}}{{{participants}}}{{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courselink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{participants}}}</a>{{/shownolinks}}</td>
            <td class="vlr">
                {{#shownolinks}}{{{participants_handed_in}}}{{/shownolinks}}
                {{^shownolinks}}<a href="{{{coursedetailurl}}}" class="courselink" title="{{#str}}report_header_expand_collapse, local_lai_connector{{/str}}">{{{participants_handed_in}}}</a>{{/shownolinks}}</td>
        </tr>

        {{>local_lai_connector/comp_activities}}

    {{/cleantiicourses}}

    {{^cleantiicourses}}
        <tr>
            <td colspan="6">{{#str}}report_no_results, local_lai_connector{{/str}}</td>
        </tr>
    {{/cleantiicourses}}
    </tbody>
</table>
