{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lai_connector/comp_testbuttons
    I display some buttons so you can test the functionality of the API
}}

<table id="lai_comp_testbuttons" class="resultlist">
    <thead>
        <tr>
            <th colspan="2" style="border:0;"><h3>{{#str}}button_api_title_testarea, local_lai_connector{{/str}}</h3></th>
        </tr>
        <tr>
            <th>{{#str}}button_api_call_testbutton, local_lai_connector{{/str}}</th>
            <th>{{#str}}button_api_call_resultarea, local_lai_connector{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="btn btn-primary" id="tarsus_ajax_generateapitoken">{{#str}}button_api_call_gethotkeywords, local_lai_connector{{/str}}</span></td>
            <td rowspan="5"><span id="tarsus_ajax_resultarea"></span></td>
        </tr>
        <tr>
            <td><span class="btn btn-primary" id="tarsus_ajax_showallbrains">{{#str}}button_api_call_listbrain, local_lai_connector{{/str}}</span></td>
        </tr>
        <tr>
            <td><span class="btn btn-primary" id="tarsus_ajax_showbrainquotas">{{#str}}button_api_call_listbrainquota, local_lai_connector{{/str}}</span></td>
        </tr>
        <tr>
            <td><span class="btn btn-primary" id="tarsus_ajax_listclonevoices">{{#str}}button_api_call_listclonevoices, local_lai_connector{{/str}}</span></td>
        </tr>
        <tr>
            <td><span class="btn btn-primary" id="tarsus_ajax_gethotkeywords">{{#str}}button_api_call_gethotkeywords, local_lai_connector{{/str}}</span></td>
        </tr>

    </tbody>
</table>
