code, code a {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}

.form-warning {
    font-size: 87.5%;
    color: #cc0000;
}

/*
############################################################
###########    NEW : index.php listing    ##################
############################################################
*/
#page-local-lai_connector-index {
    background-color: #009900;
    background-image: none;
}
