code, code a {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}

.form-warning {
    font-size: 87.5%;
    color: #cc0000;
}

/*
############################################################
###########    NEW : index.php listing    ##################
############################################################
*/
#page-local-lai_connector-index,
#page-local-lai_connector-brains {
    background-color: #EEEEEE;
    background-image: none;
}

#page-local-lai_connector-brains .overflowmask {

 /*   opacity: 0.3; */
}

#lai_comp_testbuttons {
    margin: 40px 0px 10px 0px;
}

#lai_comp_testbuttons tr td {
    vertical-align: top;
}

.resultlist i.icon,
.brainslist i.icon {
    margin-right: 0!important;
}

.resultlist tr td:first-child,
.resultlist tr th:first-child {
    width: 42%;
    text-align: left;
}

/*
############################################################
###########     Edit Icon in activity     ##################
############################################################
*/

.activity-item .activity-tarsus-info {

    justify-self: end;
}
.activity-item .activity-tarsus-info .tarsus-information {
    height: 32px;
    width: 32px;
    border-radius: 0.5rem;
}
.activity-item .activity-tarsus-info .tarsus-icon-info {
    display: none;
}
@media (max-width: 575.98px) {
    .activity-item .activity-tarsus-info {
        width: 100%;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid #dee2e6;
    }
    .activity-item .activity-tarsus-info .tarsus-information {
        width: auto;
        font-size: inherit;
        padding: 0 0.5rem;
    }
    .activity-item .activity-tarsus-info .tarsus-icon-info {
        display: inline;
    }
    .activity-item .activity-tarsus-info .v-parent-focus {
        opacity: 1;
        visibility: visible;
    }
}